*{
    padding: 0;
    margin:0 ;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 80px;
    background-image: linear-gradient(rgb(41, 41, 184),rgb(50, 50, 178),rgb(44, 103, 213));
    
}
.container{
    border: 2px solid rgb(65, 83, 241);
    height: 600px;
    width: 1000px;
    background-image: linear-gradient(rgb(70, 55, 234),rgb(104, 104, 227));
    
}

h1{
    position: relative;
    left: 60px;
    top: 30px;
    font-size: 40px;
}

 
nav ul{
    display: flex;
    justify-content: center;
    float: right;
    gap: 60px;
    list-style-type: none;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color:  rgb(194, 42, 211);
    border:2px solid white;
    background-color: aliceblue;
}

#sub{
    margin-right: 30px;
    font-size: x-large;
    padding: 5px;
    border: 1px solid rgb(241, 172, 227);
    border-radius: 40px;
      background-image: linear-gradient(pink,rgb(153, 202, 218));
      color: rgb(149, 79, 159);
}

.main{
     display: grid;
    /* grid-area: 10px; */
   /*  grid-row: 20;*/
   /* margin-top: 70px;
    text-align: left;
    font-size: 20px; */
}


.left span h1{
      color: rgb(254, 250, 252);
    margin-top: 70px;
   text-align: left;
    font-size: 40px;
 }

h3{
    display: flex;
    justify-content: center;  
   padding: 30px;
   margin-left: 40px; 
    font-size: 20px;
    color: rgb(247, 210, 216);
    
}

.btn button{
    margin-left: 70px;
    border: 2px solid rgb(235, 221, 221);
    font-size:20px;
    padding: 15px;
    border-radius: 50px;
    background-image: linear-gradient(pink,rgb(94, 116, 206));
    color: rgb(184, 51, 95);
    

}

.right img{
    position: relative;
    bottom: 450px;
    width: 350px;
    padding-left: 600px;

}



 




